{% from "_axis_system.jinja" import axis_sites %}
<mujoco model="{{ name }}">
  <compiler angle="radian"/>
  <worldbody>
    <body name="{{ name }}_marker" mocap="true" pos="0 0 0.12">
      <geom type="sphere" size="{{ ARM_LEN * 0.2 }}" mass="0.001" contype="0" conaffinity="0" rgba="{{ rgba }}"/>
      {{ axis_sites(ARM_LEN, ARM_LEN, ARM_LEN, 0.0) }}
    </body>
  </worldbody>
</mujoco>
